<div class="container">
    <div class="row">
        <div class="col-sm">
            NAVIGATE </br></br>
            <a href="#">Home</a> </br>
            <a href="#">On The Menu</a> </br>
            <a href="#">Pricing</a> </br>
            <a href="#">Join Our Team</a> </br>
            <a href="#">Our Story!</a> </br>
        </div>
        <div class="col-sm">
            {{!-- One of three columns --}}
        </div>
        <div class="col-sm">
            {{!-- One of three columns --}}
        </div>
        <div class="col-sm text-end">
            GET IN TOUCH </br></br>
            1(855)515-5191 </br>
            chef@bestfood.ca </br>
            FOLLOW US &nbsp; &nbsp; : &nbsp; &nbsp;
            <a href="#" class="fa fa-facebook"></a>&nbsp; &nbsp;
            <a href="#" class="fa fa-instagram"></a>
        </div>
    </div>
    </br>
    <div class="mt-10">
        Copyright © Winter 2021, FirstName LastName, WEB322N SectionCode
    </div>
</div>
