<div class="logoDiv">
    <img class="logo" src="/images/leaf.png" alt="">
    BestFood
</div>

<div class="align-middle">
    <a href="/">Home</a>
    <a href="#">Menu 1</a>
    <a href="#">Menu 2</a>
</div>

<div class="align-middle">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>