<div class="main">
    <div class="heroSection">
        <video width="100%" height="100%" loop autoplay muted>
            <source src="/videos/add.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="container contStyle">
        <div class="card-group">
            <div class="card" style="border :none">
                <img style="border-radius: 50px;"
                    src="https://b.zmtcdn.com/webFrontend/64dffaa58ffa55a377cdf42b6a690e721585809275.png"
                    class="card-img-top" alt="foodImage">
                <div class="card-body">
                    <h5 class="card-title">Order Food Online</h5>
                    <p class="card-text">Stay home and order to your doorstep</p>
                </div>
            </div>
            <div class="card" style="border :none">
                <img style="border-radius: 50px;"
                    src="https://b.zmtcdn.com/webFrontend/95f005332f5b9e71b9406828b63335331585809309.png"
                    class="card-img-top" alt="foodImage">
                <div class="card-body">
                    <h5 class="card-title">Go out for a meal</h5>
                    <p class="card-text">View the city's favourite dining venues</p>
                </div>
            </div>
            <div class="card" style="border :none">
                <img style="border-radius: 50px;"
                    src="https://b.zmtcdn.com/webFrontend/b256d0dd8a29f9e0623ecaaea910534d1585809352.png"
                    class="card-img-top" alt="foodImage">
                <div class="card-body">
                    <h5 class="card-title">BestFood Pro</h5>
                    <p class="card-text">Enjoy limitless dining privileges</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container contStyle">
        <h4>Top Meals : </h4>

        <div class="card-group" style="border: 1px solid gray;">
            <div class="card" style="border :none">
                <img style="border-radius: 50%;"
                    src="https://b.zmtcdn.com/data/dish_images/1e37622d1d7002ba1b516f9e2709ba221612848207.png"
                    class="card-img-top" alt="foodImage">
                <div class="card-body">
                    <h5 class="card-title">Biryani</h5>
                    <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-primary">$ 20</button>
                </div>
            </div>
            <div class="card" style="border :none">
                <img style="border-radius: 50%;"
                    src="https://b.zmtcdn.com/data/dish_images/f97f03fe83deea976c6ce33ee5210a971614151174.png"
                    class="card-img-top" alt="foodImage">
                <div class="card-body">
                    <h5 class="card-title">Pizza</h5>
                    <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-primary">$ 25</button>
                </div>
            </div>
            <div class="card" style="border :none">
                <img style="border-radius: 50%;"
                    src="https://b.zmtcdn.com/data/dish_images/48c581a7d066de3834369106aac749771612718697.png"
                    class="card-img-top" alt="foodImage">
                <div class="card-body">
                    <h5 class="card-title">Paani Puri</h5>
                    <p class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <button type="button" class="btn btn-outline-primary">$ 15</button>
                </div>
            </div>
        </div>
    </div>

</div>

</div>