body {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.header{
  background-color:#7952B3;
  color: #FFFFFF;
  padding: 5px;
}

.body{
  padding:5px;
}

.footer{
  background-color:#7952B3;
  color: #FFFFFF;
  padding: 5px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  padding-right: 20px
}

.logoDiv{
  padding: 5px;
  font-size: 30px;
  font-weight: bolder;
  font-style: italic;
  font-family:;
  color: #758283; 
}

.logo{
  height:50px;
  width: 50px;
}

.heroSection{
  height: 400px;
}

video {
  object-fit: fill;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.contStyle{
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

.card{
  margin: 20px;
}
